.App {
  text-align: center;
}
.container {
  display: flex;
  justify-content: center;
}
.cards {
  list-style: none;
  margin-left: 20px;
  margin-bottom: 50px;
  padding: 20px;
  font-size: 18px;
  color: rgb(29, 28, 28);
  width: 200px;
  height: 300px;
}

select {
  margin-bottom: 50px;
  padding: 8px;
}
.chart-container {
  height: 500px;
}
